.stack-sans-notch {
	font-family: "Stack Sans Notch", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.barlow-regular {
  font-family: "Barlow Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
	background-color: #ffd6b6;
	font-family: "Barlow Regular", sans-serif;
}
.App {
	text-align: center;
}

.navbar {
	padding-left: 2rem;
	padding-right: 0.5rem;
	background-color: #4a171e;
}
.logo {
	width: 3rem;
	font-size: 2.8rem;
	font-family: "Stack Sans Notch", sans-serif;
	color: #ffd6b6;
}
.container {
	padding: 2rem;
	max-width: 87.5rem;
}
.form-section {
	background: white;
	border-radius: 1rem;
	padding: 0.5rem 2.5rem 1rem 2.5rem;
	box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.1);
}
.titles {
	font-family: "Barlow Regular", sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	padding-bottom: 0.2rem;
}
.artInput {
	padding: 0.7rem;
}
.utility-section {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}